 /* body {
     font-family: 'Segoe UI', sans-serif;
     background: linear-gradient() rgba(74, 144, 226, 0.4);
     padding: 0;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .container {
     background: #fff;
     width: 380px;
     padding: 30px;
     border-radius: 18px;
     box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
     animation: fadeIn 0.7s ease;
 }

 @keyframes fadeIn {
     from {
         opacity: 0;
         transform: translateY(20px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 h2 {
     text-align: center;
     font-size: 24px;
     margin-bottom: 20px;
     color: #333;
     letter-spacing: 1px;
 }

 .input-group {
     margin-bottom: 14px;
 }

 input {
     width: 100%;
     padding: 12px;
     border-radius: 8px;
     border: 1px solid #bbb;
     outline: none;
     font-size: 15px;
     transition: 0.3s;
 }

 input:focus {
     border-color: #4A90E2;
     box-shadow: 0 0 6px rgba(74, 144, 226, 0.4);
 }

 b {
     font-size: 12px;
     color: red;
     display: block;
     margin-top: 3px;
     min-height: 16px;
 }

 button {
     width: 100%;
     padding: 14px;
     background: #4A90E2;
     color: white;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     font-size: 16px;
     margin-top: 10px;
     transition: 0.3s;
 }

 button:hover {
     background: #357ABD;
 }

 #cnic {
     background: #f4f4f4;
     font-weight: bold;
 } */


 body {
        font-family: Arial, Helvetica, sans-serif;
        background: #f1f3f6;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    .container {
        width: 380px;
        background: #fff;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    label {
        font-weight: bold;
        margin-top: 10px;
        display: block;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-top: 6px;
        border-radius: 6px;
        border: 1px solid #ccc;
        outline: none;
        transition: 0.2s;
    }

    input:focus {
        border-color: #4a90e2;
    }

    .error {
        color: red;
        font-size: 13px;
        margin-top: 3px;
        height: 15px;
    }

    button {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background: #4a90e2;
        border: none;
        color: #fff;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background: #357abd;
    }

    #cnic {
        background: #e9ffe9;
        font-weight: bold;
        border: 1px solid green;
    }